/* ---------------------------*/
/* Layouts and containers*/
/* ---------------------------*/

div, p, section, footer, header, aside {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
section {
  overflow: hidden;
}
.wrap {
  max-width: $mainContainer;
  padding: $containerVerIndent $containerHorIndent $containerBotIndent;
  margin: 0 auto;

  @media (max-width: $screen-md){
    padding: 2rem 3% 4rem;
  }
  @media (max-width: $screen-sm){
    padding: 2rem 5% 4rem;
  }
}

.circle {
  border-radius: 50%;
}

