// ---------------------------
// Layouts and containers
// ---------------------------

div, p, section, footer, header, aside {
  box-sizing: border-box;
}

.wrap {
  max-width: $mainContainer;
  padding: $containerVerIndent $containerHorIndent;
  margin: 0 auto;

  @media (max-width: $screen-md){
    padding: 2rem 3%;
  }
}

.circle {
  border-radius: 50%;
}

.hexagon {
	margin: 0 auto;
	width: 130px;	
	height: 130px;
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}